@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

$font-family: 'Poetsen One', sans-serif;
$font-family-fallback: 'Noto Sans KR', sans-serif; // 한글 대체 폰트 설정

.글쓰기
{
position:absolute;
background-color:#f9f7d3;
height:844px;
width:390px;
padding:0px;
}

.main
{
height:755px;
width:390px;
padding:0px;
top:5px;
position:relative;
}
.content
{
height:611px;
width:390px;
padding:0px;
top:86px;
position:relative;
}

.top
{
height:60px;
width:390px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding:0px;
}

a{
    text-decoration: none;
}

.btn{
    --border-radius: 15px;
    --background: #DD0031;
    --color: white
}

.bto ion-item {
    --min-height: 100vh;
  }

.bto {
    --margin-top: 15px;
  }

  
  ion-item.bto {
    --min-height: 500px;
  }
  .bto ion-input {
    pointer-events: auto;
    touch-action: manipulation;
  }
  
  

