<!-- <a routerLink="/main" style='text-decoration-line: none;'> -->
	<!-- <ion-header [translucent]="true">
	  <ion-toolbar><img id='js1' class='js1' src='./assets/다운로드.png'>
		<ion-title STYLE="text-align: center;">JS마스터</ion-title>
	  </ion-toolbar>
	</ion-header> -->
	
	<ion-content [fullscreen]="true">
    
        <div id='homepage' class='homepage'>

          <div id='list' class='list'>
        
            <div><img id='js1' class='js1' src='./assets/jslogo.png'></div>
            <div><h2>JS마스터</h2></div>
            <div></div>
              <!-- <img id='item→link→svg2' class='item→link→svg2' src='./assets/image.png'/> -->
              </div>

            <div id='middle' class='middle'>
           <ion-botton routerLink="/study01" class="변수">변수</ion-botton>
           <ion-botton routerLink="/study02" class="함수">함수</ion-botton>
           <ion-botton routerLink="/study03" class="조건문">조건문</ion-botton>
           <ion-botton routerLink="/study04" class="반복문">반복문</ion-botton>
            </div>

            <div id='bottom' class='bottom'>
                <img id='js2' class='js2' src='./assets/js.png'/>
                <div id='김남빈' class='김남빈'>
                20190686 김남빈
              </div>
                </div>
            </div>

	</ion-content>
	
  