<!-- <a routerLink="/main" style='text-decoration-line: none;'> -->
	<!-- <ion-header [translucent]="true">
	  <ion-toolbar><img id='js1' class='js1' src='./assets/다운로드.png'>
		<ion-title STYLE="text-align: center;">JS마스터</ion-title>
	  </ion-toolbar>
	</ion-header> -->
	
	<ion-content [fullscreen]="true">
    
        <div id='homepage' class='homepage'>

          <div id='list' class='list'>
            <div><img id='js1' class='js1' src='./assets/11.svg'></div>
            <div><h4>알씁신잡</h4></div><div></div>
              </div>

              <!-- <div class="search">
                <ion-item>
                  <span class="material-icons">search</span>
                <ion-input placeholder="궁금한 내용을 검색해보세요!!" type="text" name="search" class="input_search"></ion-input></ion-item>
                <div></div>
            </div> -->

            <ion-item>
              <span class="material-icons">search</span>
              <ion-input [(ngModel)]="searchInputValue" placeholder="검색어를 입력하세요"></ion-input>
              <ion-button (click)="performSearch()">검색</ion-button>
            </ion-item>
            
            <!-- 검색 결과 -->
            <div *ngIf="searchResults.length > 0">
              <h2>검색 결과:</h2>
              <ul>
                <li *ngFor="let result of searchResults">{{ result | json }}</li>
              </ul>
            </div>
            

              <div class="animation">
                <div class="ani-item" #aniItem>
                  <img src="./assets/tip01.png" />
                </div>
                <div class="ani-item" #aniItem>
                  <img src="./assets/tip02.png" />
                </div>
                <div class="ani-item" #aniItem>
                  <img src="./assets/tip03.png" />
                </div>
                <div class="ani-item" #aniItem>
                  <img src="./assets/tip04.png" />
                </div>
              </div>
              


            <div id='middle' class='middle'>
           <ion-botton routerLink="/tip01" class="변수">
           <img id='js2' class='js2' src='./assets/life.jpg'/>생활</ion-botton>
           
            <ion-botton routerLink="/tip02" class="함수">
              <img id='js2' class='js2' src='./assets/health.jpg'/>건강</ion-botton>

           <ion-botton routerLink="/tip03" class="조건문">
            <img id='js2' class='js2' src='./assets/money.jpg'/>절약
           </ion-botton>
          
           <ion-botton routerLink="/free" class="반복문">
             <img id='js2' class='js2' src='./assets/free.webp'/>커뮤니티
            </ion-botton>
            
          </div>

            <div id='bottom' class='bottom'>
                <div id='김남빈' class='김남빈'>
                20190686 김남빈
              </div>
                </div>
            </div>

	</ion-content>
	
  